fastapi==0.115.12
uvicorn[standard]==0.34.1
SQLAlchemy==2.0.40
psycopg2-binary==2.9.10
python-jose[cryptography]==3.4.0
passlib==1.7.4
python-multipart==0.0.20
python-dotenv==1.1.0
pydantic[email]==2.11.3
httpx==0.28.1
